*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
 /kotlinlib/build
 /firebasepush/build
 /netmasterlib/build
 /enjoystulib/build
 /memorylib/build
 /opensourelib/build
 /arouter_compiler/build
 /arouter_annotation/build
 /framworklib/build
 /myjetpack/build
 /uiapplication/build
 /.kotlinlib/build/