<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".designpattern.observer_model.ObserverModelActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".rxjava.source.RxJavaThreadSource1" />
        <activity android:name=".rxjava.source.RxJavaThreadSource2" />
        <activity android:name=".rxjava.rx.RxActivity" />
        <activity android:name=".rxjava.source1.SourceActivity2" />
        <activity android:name=".rxjava.source1.SourceActivity1" />


        <activity android:name=".eventbus.Main5Activity" />
    </application>

</manifest>