<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--  android:name=".skin.MyApplication" 不是换肤的时候先去掉  -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FtStudy">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->


            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".flowlayout.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FtStudy">

        </activity>

        <activity
            android:name=".viewpagerheightwrap.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />


        <activity
            android:name=".MyMainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".skin.SkinActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>
        <!--        <activity android:name=".skin.MainActivity" />-->
        <activity android:name=".skin.Factory2Activity" />


        <activity
            android:name=".clickevent.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <activity
            android:name=".leo_dispatch.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <activity
            android:name=".srl_vp.SRL_VP_main"
            android:theme="@style/Theme.AppCompat.DayNight" />


        <activity android:name=".textdraw.MainActivity">
            
        </activity>
        <activity android:name=".textdraw.activity.SimpleActivity"/>
        <activity android:name=".textdraw.activity.TextMeasureActivity"/>
        <activity android:name=".textdraw.activity.ViewPagerActivity"/>
        <activity android:name=".textdraw.activity.OverDrawActivity"/>
        <activity android:name=".textdraw.activity.OtherActivity"/>

        <activity android:name=".fish.MainActivity"/>

        <activity android:name=".leo_recyclerview.MainActivity"/>

        <activity android:name=".leo_recycler.MainActivity"/>

        <activity android:name=".leo_slidecard.MainActivity"/>

        <activity android:name=".photoview.MainActivity"/>

    </application>

</manifest>